option_settings:
    "aws:elasticbeanstalk:application:environment":
        DJANGO_SETTINGS_MODULE: "ruhvz.settings"
        PYTHONPATH: "."
    "aws:elasticbeanstalk:container:python":
        WSGIPath: "ruhvz/wsgi.py"
    "aws:elasticbeanstalk:container:python:staticfiles":
        "/static/": "ruhvz/static/"
